header {
	padding-right: 40px;
}

body {
	font-family: 'Muli', sans-serif;
	background-color: gold;
	text-align: center;
}

h1 {
	font-size: 50px;
	text-align: center;
}

h2 {
	font-weight: bold;
}

.banner {
	left: 0;
	top: 0;
	width: 100%;
}

.header-text {
	z-index: 100;
	text-align: center;
	color: black;
}

.vendor-photo {
	max-width: 200px;
	max-height: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
